{% extends 'base.html' %}


{% block title %}
Individuals
{% endblock title %}


{% block content %}
<div class="container my-5">
    <h1 class="fs-1">Individuals</h1>
    <hr>
    <div class="container">
        <a class="btn btn-lg btn-dark mb-5"
            href="{% url 'properties:property-create' %}">add</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">name</th>
                    <th scope="col">address</th>
                    <th scope="col">contact</th>
                    <th scope="col">email</th>
                    <th scope="col">nationality</th>
                </tr>
            </thead>
            <tbody class="text-center">

                {% for object in object_list %}

                <tr>
                    <td>
                        <a class="text-decorations-none text-dark" href="{{object.get_absolute_url}}">
                            {{object.get_object_full_name}}
                        </a>
                    </td>
                    <td>{{object.get_object_full_address|title}}</td>
                    <td>{{object.tel1}}</td>
                    <td>{{object.email}}</td>
                    <td>{{object.nationality}}</td>
                </tr>
                {% empty %}
                <td colspan="4">
                    <h4 class="text-center">No Individuals</h4>
                </td>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}