{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{object}}
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="fs-1">{{object}}</h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card shadow-lg p-5"
                style="max-width: 32rem;">
                <div class="card-body">
                    <p class="card-text my-0">
                        {{object.get_object_full_name|title}}</p>
                    <p class="card-text text-muted small border-top">address
                    </p>
                    <p class="card-text my-0">{{object.occupation|title}}</p>
                    <p class="card-text text-muted small border-top">occupation
                    </p>
                    <p class="card-text my-0">{{object.tel1|default:"--"}}</p>
                    <p class="card-text text-muted small border-top">contact
                    </p>
                    <p class="card-text my-0">{{object.email|default:"--"}}</p>
                    <p class="card-text text-muted small border-top">email</p>
                    <p class="card-text my-0">
                        {{object.nationality|default:"--"}}</p>
                    <p class="card-text text-muted small border-top">
                        nationality</p>
                    <p class="card-text my-0">
                        <a class="text-dark"
                            target="_blank"
                            href="{{object.identifications.last.file.url}}">
                            {{object.identifications.last|default:"--"|title}}
                        </a>
                    </p>
                    <p class="card-text text-muted small border-top">
                        Identification</p>

                </div>

                <hr>
                <div class="d-grid gap-2 d-md-block text-end">


                    <button type="button"
                        class="btn btn-dark"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        add identification
                    </button>


                    <!-- <a class="btn btn-dark"
                        href="{% url 'clients:identification-create' %}">attach identification</a> -->
                    <a class="btn btn-sm btn-outline-dark"
                        href="{{object.get_update_url}}">edit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2 col-6">

                <a class="btn btn-lg btn-outline-dark py-4"
                    href="{% url 'properties:property-create' %}">Add
                    Property
                </a>
                <hr>
                <a class="btn btn-lg btn-secondary py-4"
                    href="{% url 'clients:individual-create' %}">Add
                    another individual

                </a>
            </div>
        </div>
    </div>

</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{{object}}</h5>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action=""
                    method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button class="btn btn-dark" type="submit">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}