{% extends 'base.html' %}


{% block title %}
{{object}}
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="fs-2">{{object}}</h1>
  
    <div class="card" style="max-width: 32rem;">
        <div class="card-body">
            <p class="card-text">{{object.applicant_number}}</p> 
            <p class="card-text text-muted small border-top">application number</p>
            <p class="card-text">{{object.date_received}}</p> 
            <p class="card-text">{{object.status|title}}</p> 
            <p class="card-text">{{object.application_type|title}}</p> 
            <p class="card-text">{{object.received_at|title}}</p> 
        </div>
        <div class="card-footer text-end">
            <a class="btn btn-dark" href="{{object.get_update_url}}">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}