{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}
{{object}}
{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="fs-2">{{object}}</h1>

    <div class="card"
        style="max-width: 32rem;">
        <div class="card-body text-end">
            <p class="card-text my-0">
                {{object.application_number|default:"--"}}</p>
            <p class="card-text text-muted small border-top">application number
            </p>
            <p class="card-text my-0">{{object.date_received}}</p>
            <p class="card-text text-muted small border-top">date_received</p>

            <p class="card-text my-0">{{object.status|title}}</p>
            <p class="card-text text-muted small border-top">status</p>

            <p class="card-text my-0">
                
               {{object.assign_applications.last.employee}}
            </p>
            <p class="card-text text-muted small border-top">assigned_to</p>

            <p class="card-text my-0">
                {% for application_type in object.application_type.all %}
                {{application_type}}
                {% endfor %}
            </p>
            <p class="card-text text-muted small border-top">application_type
            </p>

            <p class="card-text my-0">{{object.received_at|title}}</p>
            <p class="card-text text-muted small border-top">received_at</p>
            <p class="card-text my-0">
                <a target="_blank"
                    rel="noopener noreferrer"
                    href="{{object.application_form.url|default:'#'}}">
                    {{object.application_form|default:'--'}}
                </a>
            </p>
            <p class="card-text text-muted small border-top">file</p>

        </div>
        <div class="card-footer text-end">

        <div class="d-grid gap-2 d-md-block text-end">

            <button type="button"
                class="btn btn-dark"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                assign this application
            </button>

                <a class="btn btn-outline-dark"
                    href="{{object.get_update_url}}">Edit</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{{object}}</h5>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action=""
                    method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button class="btn btn-dark"
                    type="submit">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}