{% extends 'base.html' %}


{% block title %}
Individual Applications
{% endblock title %}


{% block content %}
<div class="container my-5">
    <h1 class="fs-1">Individual Applications</h1>
    <hr>
    <a class="btn btn-sm btn-dark mb-5"
        href="{% url 'applications:individual-create' %}">New application</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">received</th>
                    <th scope="col">application_number</th>
                    <th scope="col">status</th>
                    <th scope="col">black and parcel</th>
                    <th scope="col">type</th>
                    <th scope="col">application form</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.date_received}}</td>
                    <td>
                        <a href="{{object.get_absolute_url}}">
                        {{object.application_number}}
                        </a>
                    </td>
                    <td>{{object.status}}</td>
                    <td>{{object.block_parcel}}</td>
                    <td>
                        {% for application_type in object.application_type.all %}
                        {{application_type}}
                        {% endfor %}
                    </td>
                    {% if object.application_form %}
                    <td>
                        <a href="{{object.application_form.url}}">
                            {{object.application_form}}
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <td colspan="4">
                    <h4 class="text-center">No Individual Applications</h4>
                </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}