{% extends 'base.html' %}


{% block title %}
Employees
{% endblock title %}


{% block content %}
<div class="container my-5">
    <h1 class="fs-1">Employees</h1>
    <hr>

    <div class="table-responsive mt-5">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">name</th>
                    <th scope="col">employment_id</th>
                    <th scope="col">position</th>
                    <th scope="col">tel</th>
                </tr>
            </thead>
            <tbody class="text-center">

                {% for object in object_list %}

                <tr>
                    <td>
                        <a class="text-decorations-none text-dark" href="{{object.get_absolute_url}}">
                            {{object.get_full_name}}
                        </a>
                    </td>
                    <td>{{object.employment_id}}</td>
                    <td>{{object.position}}</td>
                    <td>{{object.tel}}</td>
                </tr>
                {% empty %}
                <td colspan="5">
                    <h4 class="text-center">No Individuals</h4>
                </td>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}